.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 99%;
    margin: auto;
    opacity: 0.8;
    padding: 10px;
}

.article{ 
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    font-size: 20px;
    
 
}


.article ul, li{
    text-align: justify;
    text-indent: 50px;  
    padding: 2px;
    list-style-position: inside;
}



.article h1{
    background-image: linear-gradient(to right, var(--color4),transparent);
    margin-bottom: 5px;   
    text-align: center;
    padding: 3px;
}

.article h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: left;
    text-decoration: underline;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ff5c71;
   
}

th, td {
    text-align: left;
    padding: 8px;
    text-align: center;
    text-transform: capitalize;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #ff5c71;
    color: white;
}

.tipo{
    font-weight: bolder;
}

@media screen and (max-width: 700px){
    ul, li{
        font-size: 16px;
        text-align: left;
    }
}