.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin: 0;
    padding: 0;
    
    
}

.article{ 
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    /* background-color: #f5adb7;    */
 
}

.article p{
    text-align: justify;
    text-indent: 50px;  
    font-size: 20px;
    padding: 5px;
    background-color: white;
   
}


   
.container img{
    width: 100vw;
    margin: auto;
    text-align: center;
}

.article h1, h2{
    text-align: center;
    padding: 3px;
   

}

.article h1{
    background-image: linear-gradient(to right, var(--color4),transparent);

}


table {
    border-collapse: collapse;
    border: 2px solid #ff5c71;
    background-color: rgba(255, 255, 255, 0.972);
    margin: auto;
   
}


th, td {
    text-align: left;
    padding: 8px;
    text-align: center;
    text-transform: capitalize;
   
}

tr:nth-child(even){background-color: #f2f2f2};

 th {
    background-color: #ff5c71;
    color: white;
} 

.tipo{
    font-weight: bolder;
}

@media screen and (max-width: 700px){
    .container, .article{
        flex-direction: column;
    }

    .article img{
        width: 80%;
    }
    
}