footer {
     background: #ffa492;
     text-align: center;
     padding: 5px;  
     width: 100%;
     margin-top: 0px;
   }

footer > p{
    text-align: center;
} 


  @media(max-width: 700px){
    
    .footer{
      position: relative;
      margin-top: 30%;
    }

  }